<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :likes %>
    <%= form.number_field :likes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :resume %>
    <%= form.text_area :resume, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :county %>
    <%= form.text_field :county, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <%= form.text_field :state, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.number_field :rating, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if entry.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', entry, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if entry.persisted? %>
      <%= link_to "Cancel", entry, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", entries_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
